---
import Icon from "./Icon.astro";
import { SkillCard } from "./react/SkillCard";
---

<section class="skills">
  <SkillCard
    title="Design"
    delay={0}
    skills={["Figma", "TailwindCSS"]}
    icon="design"
    client:load
  />

  <SkillCard
    title="Frontend"
    delay={1}
    skills={["Typescript", "React"]}
    icon="frontend"
    client:load
  />

  <SkillCard
    title="Backend"
    delay={2}
    skills={["Express", "Adonis", "Mongo", "MySQL", "PostgreSQL"]}
    icon="backend"
    client:load
  />

  <SkillCard
    title="DevOps"
    delay={3}
    skills={["Nginx", "Docker", "Docker Compose"]}
    icon="devops"
    client:load
  />
</section>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .stack {
    width: 100%;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  .skills ul {
    list-style-type: none;
    padding: 0;
  }

  @media (min-width: 35em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }

  @media (min-width: 70em) {
    .skills {
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
    }
  }
</style>
